langchain
langchain-community
langchain-huggingface
langchain-chroma
langchain-experimental
langgraph
chromadb
pypdf
sentence-transformers
fastapi
uvicorn
jinja2
python-dotenv
python-docx
python-pptx
markdown
google-genai
python-multipart
beautifulsoup4
pypdf
pandas
rouge-score 
bert-score 
numpy
tabulate